<h1>sing in page</h1>

<form action="/singinuser" method="post" >
<table align="center" border="1">
    <tr>
        <td>enter user name</td>
        <td><input type="text" name="username"></td>
    </tr>
    <tr>
        <td>enter email</td>
        <td><input type="text" name="email"></td>
    </tr>
    <tr>
        <td>enter password</td>
        <td><input type="text" name="password"></td>
    </tr>
    <tr>
        <td>enter confirmpassword </td>
        <td><input type="text" name="confirmpassword"></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit"></td>
    </tr>
</table>
</form>